/* .wrapper {
  max-width: 1400px;
  height: 600px;
  margin: 100px auto;
  border: lightslategrey solid 2px;
}

.col-sm {
  text-align: center;
  line-height: 600px;
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
} */
